<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Radio Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <strong onclick="document.getElementById('audios').play()">PLAY</strong>
    <br>
    <br>
    <br>
    <strong onclick="document.getElementById('audios').pause()">STOP</strong>
    <br>
    <br>

      <audio autobuffer autoloop loop controls id="audios" style="display:none">
        <source src="https://media425.digitar.net:8141/radio.mp3">
        <object type="audio/x-wav" data="https://media425.digitar.net:8141/radio.mp3" width="290" height="45">
          <param name="src" value="https://media425.digitar.net:8141/radio.mp3">
          <param name="autoplay" value="false">
          <param name="autoStart" value="0">
        </object>
      </audio>
  </div>
</ion-content>
